<app-loading></app-loading>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav-toolbar">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/produto" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span>Product</span>
      </a>
      <a mat-list-item routerLink="/pedido/novo" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span>New order</span>
      </a>
      <a mat-list-item routerLink="/pedido/relatorio" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
        <mat-icon matListItemIcon>bar_chart</mat-icon>
        <span>Reports</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Order Management</span>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
