.notification-container {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}

.message {
  flex-grow: 1;
}

.success {
  background-color: #4CAF50;
}

.error {
  background-color: #F44336;
}

.alert {
  background-color: #f1bf19;
}
